-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "asset_groups" (
    "id" SERIAL NOT NULL,
    "shop" TEXT,
    "access_limit" INTEGER,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "asset_groups_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "assets" (
    "id" SERIAL NOT NULL,
    "group_id" INTEGER,
    "type" TEXT,
    "name" TEXT,
    "size" INTEGER,
    "file_data" BYTEA,
    "url" TEXT,
    "link_name" TEXT,
    "instructions" TEXT,

    CONSTRAINT "assets_pkey" PRIMARY KEY ("id")
);

-- AddForeignKey
ALTER TABLE "assets" ADD CONSTRAINT "assets_group_id_fkey" FOREIGN KEY ("group_id") REFERENCES "asset_groups"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

